.container {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 20px 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  .header {
    color: #2e2e6e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .button {
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      color: #ffffff;
      border: 0;
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      font-size: 32px;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
    padding: 32px 24px;
  }
  .header {
    gap: 100px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}
